$mobileBreakpoint : 668px;
$tabletBreakpoint : 992px;

.global-footer{
  display: flex;
  justify-content: center;
  .sm-div{
    padding: 1rem;
    .sm-icons{
      padding: 1rem;
      &:active{
        color: black;
      }
      &:visited{
        color: black;
      }    
      color: black;
    }
    }
  }