$mobileBreakpoint: 668px;
$tabletBreakpoint: 992px;

.global-menu {
  .responsive-div {
    display: none;
    @media (max-width: $mobileBreakpoint) and (max-width: $tabletBreakpoint) {
     /* min-height: 4.37rem;
      background-color: #555;
      color: whitesmoke;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;*/

      @media (max-width: 688px) and (max-width: 992px) {
        width: 100%;
        margin: 0;
        text-align: center;
        line-height: 1.25rem;
      }
      ul {
        list-style: none;
        margin-right: 3.12rem;
        @media (max-width: 688px) and (max-width: 992px) {
          position: fixed;
          top: 0;
          left: -100%;
          background: #555;
          width: 100%;
          height: 100vh;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          z-index: 99;
          transition: 0.5s linear;
        }
        li {
          display: inline-block;
          line-height: normal;
          a {
            text-decoration: none;
            color: whitesmoke;
            text-transform: uppercase;
            padding: 0 0.93rem;
            opacity: 0.6;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
      .toggle {
        left: 0;
      }
      .menu,
      .close {
        cursor: pointer;
        text-transform: uppercase;
        border: 0.06rem solid white;
        padding: 0.62rem 1.25rem;
        margin-right: 1.25rem;
        display: none;
        @media (max-width: 688px) and (max-width: 992px) {
          display: block;
        }
      }
      .close {
        position: absolute;
        top: 0.62rem;
        right: 0;
        border-radius: 0.31rem;
      }
    }
  }
  display: flex;
  justify-content: space-around;
  text-align: center;
  line-height: 4rem;
  @media (max-width: $mobileBreakpoint) and (max-width: $tabletBreakpoint) {
    flex-direction: column;
    align-items: center;
    .hidden-div {
      display: none;
    }
    .hidden-responsive {
      display: none;
    }
  }
  .menu-div {
    width: 6.125rem;
    height: 6.125rem;
    border-radius: 5rem;
    &:hover {
      background-color: grey;
    }
    @media (max-width: $mobileBreakpoint) and (max-width: $tabletBreakpoint) {
      width: 12.5rem;
      height: 3.5rem;
      line-height: 1.5rem;
      margin: 2.1rem;
      border-radius: 2;
      background-color: grey;
    }
    .link {
      text-decoration: none;
      color: black;
    }
  }
}
