$mobileBreakpoint : 668px;
$tabletBreakpoint : 992px;

.global-menu{
  display: flex;
  justify-content: space-around;
  .menu-div{
    padding: 3rem;
    text-align: center;
    &:hover{
       background-color: #666666;
       width: 6.25rem;
       height: 6.25rem;
       border-radius: 50%;
    }
  }
}